<!DOCTYPE html>
<!--mi primera página html dinámica-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>

    </head>
    <body>
        <!-- 1 Sección para crear el boton de agregar... llamará a una ventana modal-->
        <section th:fragment="tabs">
            <div class="container">
                <div class="row p-3">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/pruebas/#">[[#{pruebas.todas}]]</a>
                        </li>
                        <li  th:each="c: ${categorias}" class="nav-item">
                            <a class="nav-link" href="@{/pruebas/listado/}+${c.idCategoria}">[[${c.descripcion}]]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section th:fragment="tarjetas">
            <div class="container">
                <div class="row row-cols-4">
                    <div th:if="${productos != null and !productos.empty}">
                        <div class="row row-cols-4"></div>
                        <div  th:each="p: ${productos}"
                              class="card">
                            <div class="card-header">
                                <h4>[[${p.descripcion}]]</h4>
                                <figure>
                                    <img th:src="${p.rutaImagen}"
                                         height="150"/>
                                    <figcaption class="d-flex justify-content-between">
                                        [[${p.precio}]] ([[${p.existencias}]])
                                        <form>
                                            <input type="hidden"
                                                   name="idProducto"
                                                   th:value="${p.producto}"/>
                                            <input type="hidden"
                                                   name="existencias"
                                                   th:value="${p.existencias}"/>
                                            <button type="button"
                                                    onclick="addCart(this.form)"
                                                    class="btn btn-light">
                                                <i class="fas fa-cart-arrow-down"></i>
                                            </button>
                                        </form>
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="card-body">
                                <p>[[${p.detalle}]]</p>
                            </div>
                        </div>
                        <div class="text-center p-2" 
                             th:if="${productos == null or productos.empty}">
                            <h4>[[#{lista.vacia}]]</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section> 

    </body>
</html>
